* {
    margin: 0;
    padding: 0;
}

.a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}

.logo {
    width: 137px;
    height: 40px;
    top: -432px;
    left: 2013px;
    gap: 0px;
    opacity: 0px;
}

.header {
    width: 1289px;
    height: 114px;
    top: -458px;
    left: 1954px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.menubar {
    width: 1016px;
    height: 40px;
    top: -432px;
    left: 2013px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 556px;
    height: 40px;
    top: -432px;
    left: 2487px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.ButMenu {
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    line-height: 16.41px;
    text-align: left;
    color: black;
    gap: 32px;
}

.but1 {
    color: chocolate;
}

.top {
    width: 1319px;
    height: 928px;
    top: -472px;
    left: 1936px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.top_info {
    width: 589px;
    height: 494px;
    top: -308px;
    left: 1970px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    align-items: center;
}

.top_buttons {
    width: 374px;
    height: 94px;
    top: 54px;
    left: 1990px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.info_plus_img {
    width: 1274px;
    height: 536px;
    top: -323px;
    left: 1954px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
}

.top_logos {
    width: 1240px;
    height: 158px;
    top: 266px;
    left: 1970px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.top_content {
    width: 1274px;
    height: 536px;
    top: -323px;
    left: 1954px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.title {
    font-family: Gilroy-Bold;
    font-size: 60px;
    line-height: 70.31px;
    text-align: left;
    color: black;
}

.subtitle {
    font-family: Gilroy-Medium;
    font-size: 20px;
    line-height: 23.44px;
    text-align: left;
    color: #888888;
}

.imgCont {
    width: 610.73px;
    height: 372.9px;
    top: -308px;
    left: 2572px;
    gap: 0px;
    opacity: 0px;
}