* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 1016px;
    height: 40px;
    top: -432px;
    left: 2013px;
    gap: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.header {
    width: 1289px;
    height: 114px;
    top: -458px;
    left: 1954px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    justify-content: center;
}

.menu {
    width: 556px;
    height: 40px;
    top: -432px;
    left: 2487px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    align-items: center;
}

.top {
    width: 1319px;
    height: 928px;
    top: -472px;
    left: 1936px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.top_info {
    width: 589px;
    height: 494px;
    top: -308px;
    left: 1970px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.top_buttons {
    width: 374px;
    height: 94px;
    top: 54px;
    left: 1990px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.info_plus_img {
    width: 1274px;
    height: 536px;
    top: -323px;
    left: 1954px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.top_logos {
    width: 1240px;
    height: 158px;
    top: 266px;
    left: 1970px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}