* {
    background-color: #000000;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 362px);
    grid-template-rows: repeat(3, 389px);
    gap: 20px;
    padding-left: 387px;
    padding-top: 387px;
}

.item {
    background-color: #132035;
    border-radius: 10px;
    position: relative;
}

.item_big {
    grid-area: 2 / 1 / 5 / 3;
}

.heading {
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 31.25px;
    text-align: center;
    color: #FFFFFF;
    background-color: #132035;
    padding-left: 20px;
    padding-right: 20px;
}

.item_text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: center;
    color: #FFFFFF;
    background-color: #132035;
    padding-left: 20px;
    padding-right: 20px;
}

.item_img {
    width: 98px;
    height: 103px;
    padding-top: 30px;
    padding-left: 132px;
    gap: 0px;
    opacity: 0px;
    background-color: #132035;
}

.item_img_big {
    width: 306px;
    height: 322px;
    padding-top: 20px;
    padding-left: 226px;
    gap: 0px;
    opacity: 0px;
    background-color: #132035;
}